* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: #ffffff;
    font-size: 5em;
    text-align: center;
    animation: fadein 2s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

.buttonrow {
    display: flex;
    justify-content: center;
}

.button {
    border: 3px solid;
    height: 175px;
    width: 175px;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin: 0.5em;
    align-items: center;
    animation: fadein 2s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

.page {
    color: #ffffff;
    font-size: 2em;
}

.center {
    padding: 0 7.5em;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}